@font-face {
    font-family: Montserrat_Light;
    src: url(../Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat_Regular;
    src: url(../Montserrat-Regular.ttf);
}

@media screen and (min-width: 320px) {
    .our_projects {
        min-width: 320px;
        height: 100vh;
        background-color: #fff;
    }
    .our_projects__header {
        text-align: center;
        line-height: 100px
    }
    .our_projects__header_name {
        font-family: Montserrat_Regular;
        font-size: 28px;
        color: #000;
    }
    .projects {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .projects__item {
        margin-bottom: 10px;
        height: 390px;
        display: flex;
        justify-content: space-between;
    }
    .first {
        background: url(../photo/photo-preview.png) 100% 100% no-repeat;
        background-size: cover;
        background-position: center;
    }
    .second {
        background: url(../photo/photo-preview\ \(1\).png) 100% 100% no-repeat;
        background-size: cover;
        background-position: center;
    }
    .third {
        background: url(../photo/photo-preview\ \(2\).png) 100% 100% no-repeat;
        background-size: cover;
        background-position: center;
    }
    .fours {
        background: url(../photo/photo-preview\ \(3\).png) 100% 100% no-repeat;
        background-size: cover;
        background-position: center;
    }
    .item_hover {
        display: none;
        height: 390px;
        background-color: rgba(15, 15, 15, 0.5);
    }
    .project_name {
        padding-top: 240px;
        margin-left: 35px;
    }
    .hover_name__first,
    .hover_name__second,
    .hover_name__third,
    .hover_name__fours {
        font-family: Montserrat_Regular;
        font-size: 24px;
        font-weight: 500;
        color: #fff;
    }
    .hover_text__first,
    .hover_text__second,
    .hover_text__third,
    .hover_text__fours {
        font-family: Montserrat_Light;
        font-size: 14px;
        color: #fff;
        line-height: 25px;
    }
    .show_hover {
        display: block;
        animation: rotate 1s 1;
    }
    @keyframes rotate {
        0% {
            transform: rotate3d(0, 0, 0, 0deg);
        }
        100% {
            transform: rotate3d(1, 1, 1, 360deg);
        }
    }
    .move_hover {
        position: absolute;
        z-index: 1;
        animation: move_hover 1s 1;
    }
    @keyframes move_hover {
        0% {
            transform: translate(100%);
        }
        100% {
            transform: translate(0%);
        }
    }
    .hover__desription_1,
    .hover__desription_2,
    .hover__desription_3,
    .hover__desription_4 {
        display: none;
    }
    .show_desription {
        height: 390px;
        display: block;
        background-color: #fff;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        animation: move 1s 1;
    }
    @keyframes move {
        0% {
            transform: translate(100%);
        }
        100% {
            transform: translate(0%);
        }
    }
    .desription__header {
        font-family: Montserrat_Regular;
        font-size: 14px;
        color: #000;
        padding-left: 10px;
    }
    .description__text {
        font-family: Montserrat_Light;
        font-size: 12px;
        color: #000;
        padding-left: 10px;
    }
    .footer {
        background-color: #000;
        height: 270px;
    }
    .footer_wrap {
        width: 80%;
        padding-top: 25px;
        margin: 0 auto;
    }
    .contact_wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }
    .company_address {
        font-family: Montserrat_Light;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        font-style: normal;
        line-height: 25px;
    }
    .footer_nav__item {
        font-family: Montserrat_Light;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        line-height: 25px;
    }
    .other_information_wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .copyrights {
        font-family: Montserrat_Light;
        font-size: 14px;
        color: #fff;
    }
    .facebook {
        padding: 0 25px;
    }
    .created_by {
        font-family: Montserrat_Light;
        font-size: 14px;
        color: #fff;
    }
    .cf_digital {
        font-family: Montserrat_Light;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
    }
    .cf_digital:hover {
        color: #DB7093;
        text-decoration: underline;
    }
}

@media screen and (min-width: 320px) and (max-width: 570px) {
    .projects {
        flex-direction: column;
    }
    .projects__item {
        width: 100%;
    }
}

@media screen and (min-width: 571px) and (max-width: 990px) {
    .projects {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .projects__item {
        width: 49%;
    }
    .show_desription {
        width: 50%;
    }
}

@media screen and (min-width: 991px) {
    .projects {
        flex-direction: row;
    }
    .projects__item {
        width: 24%;
    }
    .show_desription {
        width: 75%;
    }
}